
 div,h1,h2,h3,h4,h5,h6,p,ul{	margin:0;	padding:0;}
div{padding-top: 10px; padding-bottom: 10px;}	

h2{font-size: 18px; color: #525252;}
h3{font-size: 16px; color: #23b9ff;}
h4{font-size: 12px; color: #828282;}
p{font-size: 13px; padding-bottom: 10px;}


body { font-family: Helvetica; color: #525252; font-size: 15px;}
.resume{ width: 210mm; background: #ffffff; border: solid #23b9ff; border-width: 4px 0 2px 0;}
.inner{padding-left: 0px; padding-right: 0px;}

.headerLeft{ width:470px; height: 140px; float: left; padding-left: 20px;}
.headerRight{width: 200px; float: right; text-align: right;}

.photoBorder{ width: 80px; height: 80px; background: #ffffff;  float: left; display: block; text-align: center;
 	
 	box-shadow: 2px 2px 2px #888;
 	-moz-box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 1px 1px 2px #888;
 }
.resumeHeader{	height: 140px; background-color: #f4f4f4; border-top: solid 3px #23b9ff; padding-top: 15px;	}
.resumeFooter{	height: 40px; border-bottom: solid 3px #23b9ff;	}
.resumeBody{ padding-left: 40px; padding-right: 40px; padding-top: 20px; border-top: solid 1px #e1e1e1;}
.userName{ width:250px; float: left; padding-left: 20px;  }
.address{ width: 400px; clear: both;  padding-top: 10px;}

.titleSection{ width:170px;  text-align: right;}
.contentSection{width:480px; padding-left: 180px; margin-top: -50px;}
.mainTitle{border: solid 2px #23b9ff; border-width: 0 0 2px 0;}

.height40{ height: 60px;}
.height200{height:200px;}
.blue{color: #23b9ff;}

li{font-size: 12px;}

ul{border: solid 1px #23b9ff; border-width: 1px 0 0 0; padding-top: 10px; padding-left: 15px;}

.alignRight{text-align: right; padding-right: 20px; margin-top: -24px;}