*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*.*~
*.swp
*.swo
temp/
config.php
database.php
application/third_party/mpdf/ttfontdata/*.php
application/third_party/mpdf/ttfontdata/*.dat
.htaccess
