/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  /*float: left;*/ /*commented to center slider img*/
  width: 100%;
  border: 0;
  max-height: 245px;
  max-width: 435px;
  margin: 0 0 0 80px;
  }

  /********************Custom css override**************************/

  .rslides_tabs{
    display: block;
    z-index: 9999 !important;
    position: absolute;
    right: 30px;
    bottom: 94px;
  }

  .rslides_tabs li{
    float: left; 
  }

  .rslides_tabs li a, .rslides_here a {
      width: 43px; height: 36px; display: block; 
      color: #323232;  line-height: 36px;  text-align: center; text-decoration: none;
      background: transparent url(../img/sprites.png) no-repeat left top; cursor: pointer;
      background-position: -191px 0;
  }

  .rslides_here a {
    background-position: -235px 0 !important;
    color: #ffffff !important;
  }

.rslider_container{
  position: relative;
}