
.form_title{
	width: 100%; height: 60px; 
	background: #f07057;	border:solid 1px #ea6c53; color: #fff;
}
.form_title h3{
	line-height: 60px;	margin-left: 20px;	text-transform: uppercase;
}

.form_title a{
	width: 200px; height: 59px; display: block; float: left;
	line-height: 60px;	text-transform: uppercase; text-align: center;
	border: solid 1px #df634b; background-color: #f07057;	color: #ffffff; text-decoration: none; font-size: 1.2em; 

}

.form_title a:hover{
	background: #df634b;
	border:none;
	border-bottom: solid 5px #232323;
}

.tab_hightlight{
	background: #df634b!important;
	border:none!important;
	border-bottom: solid 5px #232323!important;
}

.left_form{
	width: 100%; 
	background-color: #f4f4f4;
	padding: 50px;
}


.left_form h2{ margin-bottom: 50px;}



/********************************Form Common***********************************/


select{
	margin-bottom: 30px;
	height: 30px;
}

textarea{
	width: 400px;
	margin-bottom: 30px; 
	
}

label{
	display: block;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 1.3em;
}

input{
	width: 300px;
	height: 30px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.w400{
	width: 400px;
}

.h200{
	height: 200px;
}

.form_sections{ margin-left: 20px; padding-bottom: 50px;}

.clickr{
	padding: 10px 30px 10px 30px; display: inline-block;
	background: #f07057;	border: solid 1px #c5533d;	color: #fff;	
	cursor: pointer; text-decoration: none;
}


.clickr:hover{

}
input[type="radio"]{
	width:25px;
	height:25px;
}
input [type="checkbox"]{
	width:30px;
	height:30px;
}

.form_checkbox{
width: 20px !important;
position: absolute; float: left!important;
margin:12px 0px 0px 0px
}

#forget{
	cursor: pointer;
}

#error_msg, #error_msg1, .error_msg{
	/*background: #de5439;
	border: solid 1px #ce4b31;*/
	margin-bottom: 20px;
	/*display: block;*/
	 color:#f07057; font-size:15px; padding:0 10px 0 0; font-style:italic; margin-top: 8px;
}

.left_form_inner{
	margin-left: 10px;
	
}

.active_tabx{
	background: #df634b;
	border:none;
	border-bottom: solid 5px #232323;

}

.rem_pad{padding:0 0 0 30px;}

/********************************Edit profile overriedes and extras***********************************/



.pr-edit{
    display:none;
}


.pr_right_edit{
	padding-top: 10px;
		margin-top: 10px;
}
.mail_toggle{
	height:40px; display: block; 
	margin-top: 20px;
	background: #e1e1e1; 
	border:solid 1px #c2c2c2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.mail_toggle input{ width:20px !important; float: left;}

.mail_toggle span{
	display: block; height: 40px; line-height: 36px;
	border-left: solid 1px #d2d2d2; padding-left: 10px; 
	margin: 0 0 0 30px;}
.pr-view{
	width:300px;
	
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}



.pr_left{
	font-family: segoeuib;
	width: 200px;
	font-size:1.2em;
}
.pr_left1{
	font-family: segoeuib;
	font-size:1.2em;
	text-transform:capitalize;
}

.pr_right{
	font-size: 1.4em;
	line-height: 30px;
}

#form2 table tr{border:none!important;}
.tbl{
    font-size: 13px;
    line-height: 16px;
}

.profile_photo{
	 width:80px;	 height:80px;	 display:block;
	 background: #ffffff;
	 border:solid 5px #e1e1e1;
		text-align: center; padding:5px 0 0 0;
}

tr{
	border-bottom: solid 1px #e1e1e1;
}
.reg_tr_remove tr{border:none!important;}
.form_controls{
	margin: 40px 0 20px 0 ;
}

.pr_email{
	height: 60px;	}

.pr_email td{
	padding: 20px 0 0 0 ;
}

.pr_btn{
width: 160px !important;
margin: 20px 0 20px 0 !important;
background: #f07057;
border: solid 1px #c5533d;
color: #fff;
cursor: pointer; font-size:16px; padding:12px 30px 25px 30px;
}
