.form_title{
	width: auto; height: 60px; 
	background: #e78130;	border:solid 1px #ea6c53; color: #fff;
}
.form_title h3{
	line-height: 60px;	margin-left: 20px;	text-transform: uppercase;
}

.form_title a{
	width: 200px; height: 59px; display: block; float: left;
	line-height: 60px;	text-transform: uppercase; text-align: center;
	border: solid 1px #44494a; background-color: #e78130;	color: #ffffff; text-decoration: none; font-size: 1.2em; 
}


.left_form{
	width: 80%;	float: right;
	background-color: #f4f4f4;
	position: relative;
}

.left_form_feedback{
	padding:40px 0 0 20px; min-height:670px;;
	background-color: #f4f4f4;
	position: relative;
}

.fbmandtri{font-size:13px; margin: 0 0 5px 0; font-style:italic;}
.exchr{float: right;}

.left_form_feedback .container #err_msg{margin:0 0 10px 0;}
.fb_cnt{margin:0 0 10px 0;padding:0 20px 0 0;}
.fb_txt{margin:0 0 10px 0; }
.fb_txtara{margin:0 0 10px 0; height: 122px;width: 403px;}
.fb_btn{padding:9px 30px 24px 30px!important; cursor: pointer;
	display: inline-block;background: #e78130;border: solid 1px #d77426;color: #fff; width: 103px!important; font-size:14px;}
.fb_btn:hover{background-color: #f2722c; border: solid 1px #d77426;}

.left_form_title{
	width: 100%; padding-bottom: 20px;
	color: #323232; 
}
.left_form_title h3{ 
	line-height: 40px; margin:10px 0 0 20px; 	float: left;
	text-transform: uppercase;}
	
.left_form_title .showSelectTemplate{
line-height: 42px;
cursor: pointer;
text-transform: uppercase;
background: url(../img/sprites.png) 0px -928px no-repeat;
padding: 4px 0 5px 46px;
position: absolute;
right:-100px;
margin-top: 30px
}
.left_form_title .showSelectTemplate1{
line-height: 53px;
cursor: pointer;
text-transform: uppercase;

padding: 4px 0 5px 46px;
position: absolute;
right:-100px;
margin-top: 30px
}


.shwseltmp{background: url(../img/sprites.png) 0px -928px no-repeat; position: absolute;
right: 0;
margin: 30px 0px 0px 0;
width: 75px;
height: 50px;
line-height: 17px; cursor: pointer;}

.shwseltmp1{ position: absolute;
right: 0;
margin:101px 15px 0px 0;
width: 75px;
height: 47px;
font-size: 13px;
line-height: 14px;
color: #323232;
text-decoration: none; cursor: pointer; text-align:center;}



.left_form_title .cht{position: absolute;
right: 0px;
width: 87px;
top: 120px;
margin: 0 9px 0 0;
text-align: center;
font-size: 13px;
line-height: 14px; color: #323232;text-decoration: none;}

.left_form_title p{ margin:-50px 125px 0 20px; line-height: 25px;}

.thumb_sdw_tmp{width: 85px;
height: 100px;
margin: 10px;
box-shadow: 4px 8px 12px -6px #626262;
border: 1px solid #E7E3E3;
float: right;}

/********************************about me Suggestions ***************************/
.scroll_top{background: transparent url(../img/sprites.png) -300px -750px no-repeat;/* padding: 10px 0px 10px 0px;*/ margin: 10px 0px 3px 146px; width:21px; height:16px; cursor:pointer;}

.scroll_btm{background: transparent url(../img/sprites.png) -300px -769px no-repeat; /*padding: 5px 0px 10px 0px;*/ margin: 7px 0px 20px 146px; width:21px; height:16px; clear: both; cursor:pointer;}

.scroll_top_strn{background: transparent url(../img/sprites.png) -300px -750px no-repeat; /*padding: 10px 0px 10px 0px;*/ margin: 0px 0px 3px 172px; width:21px; height:16px; cursor:pointer;}

.scroll_btm_strn{background: transparent url(../img/sprites.png) -300px -769px no-repeat; /*padding: 5px 0px 10px 0px*/; margin: 7px 0px 0 172px; width:21px; height:16px; clear: both; cursor:pointer;}

.scroll_top:hover{opacity:0.7;}
.scroll_btm:hover{opacity:0.7;}
.scroll_top_strn:hover{opacity:0.7;}
.scroll_btm_strn:hover{opacity:0.7;}

.dowload_logo{background: transparent url(../img/download_logo.png) center no-repeat; text-align:center; height:242px; padding:0px;  display:block;}
.downlod_cnt{text-align:center; margin:0px 0 0 0;}

.star_mant{position:absolute; margin:-2px 0px 0 -12px; color:red;}
.star_mant2{position:absolute; margin:-2px 0px 0 -7px; color:red;}
.star_mant3{position:absolute; margin-top:-2px; margin-left:-1px; color:red; padding:0;}
.star_mant4{position:absolute; margin-top:-2px; margin-left:3px; color:red;  padding:0;}
.phone_mant{position:absolute; margin-top:-2px; margin-left:-2px; color:red;  padding:0; display:inline;}
.mail_mant{position:absolute;  margin-top:-2px; margin-left:-2px; color:red;  padding:0; display:inline;}
.select_dob_input{margin-left:10px;}
/******************************** Profile Tooltip ***************************/


/************************** scroll bar ********************************************/

		.links{margin:10px;}
		.links a{display:inline-block; padding:3px 15px; margin:7px 10px; background:#444; text-decoration:none; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
		.links a:hover{background:#eb3755; color:#fff;}
		.output{margin:20px 40px;}
		.output a{display:inline-block; text-decoration:none; padding:3px 15px; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px; background:#000; margin:5px 20px 5px 0;}
		code{color:#5b70ff;}
		.content{margin:40px; width:340px; height:500px; padding:20px; overflow:auto; background:#333; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
		.content p:nth-child(even){color:#999; font-family:Georgia,serif; font-size:17px; font-style:italic;}
		.content p:nth-child(3n+0){color:#c96;}
		.loading{opacity:0.3;}

/******************************** Right nav***********************************/

.abt_tab{margin:21px 0 0 0;}
.right_nav{ 
	width: 19.8%;	height: 100%;	float: right;
	text-align: center;	
	background: #FFF;	border-left: solid 1px #E8E8E8;	
}

.rns{ 
	display: block; cursor:pointer; 
	text-align: left; padding: 13px 0 13px 20px;
	font-size: .9em;	text-decoration: none; color: #232323;
	
}
.rsum_tp_active{padding:11px 0 0px 57px; height: 19px; font-weight:bold; display:block; background: url(../img/sprites.png) -404px -909px no-repeat; margin: 30px 0 0 0; text-align: left;font-family: segoeuib;color: #e78130; font-size: .9em;}
.rsum_tp{padding:8px 0 0px 57px; height: 19px; font-weight:bold; display:block; background: url(../img/sprites.png) -403px -849px no-repeat; margin: 25px 0 0 0; text-align: left;color: #232323; font-size: .9em; text-decoration:none;}
.rsum_tp1{padding:8px 0 2px 57px; height: 19px; font-weight:bold; display:block; background: url(../img/sprites.png) -403px -881px no-repeat; margin: 25px 0 0 0; text-align: left;color: #232323; font-size: .9em; text-decoration:none;}

.rsum_tp_rs{padding:8px 0 0px 57px; height: 19px; font-weight:bold; display:block; background: url(../img/sprites.png) -403px -818px no-repeat; margin: 25px 0 0 0; text-align: left;color: #232323; font-size: .9em; text-decoration:none; cursor:pointer;}

.rns_b{
	font-family: segoeuib;
	color: #e78130;
	cursor:default !important;
}

.rns_inner{
	margin-left:21px;
	padding-left: 37px !important;
	background: url(../img/sprites.png) no-repeat left center;
	background-position: 0 -809px;  
}
.right_nav .rns_err{background: url(../img/sprites.png) 0px -895px no-repeat!important;}




.rns_a{
	font-family: segoeuib;
	color: #e78130;
	cursor:default !important;
	background: url(../img/sprites.png) no-repeat left center !important;
	background-position: 0 -850px !important; 
}

.rnd{
	width: 26px; height: 26px; display: inline-block;
	background: url(../img/sprites.png) no-repeat left top;
	background-position: -326px 0; font-size: .8em; color: #fff;
	text-align: center; line-height: 26px; margin-right: 10px;
}
.rnd_a{
	width: 26px; height: 26px; display: inline-block;
	background: url(../img/sprites.png) no-repeat left top;
	background-position: -353px 0; font-size: .8em; color: #fff;
	text-align: center; line-height: 26px; margin-right: 10px;
	cursor:default !important;
}
.rnd_inner{
	width: 14px; height: 14px; display: inline-block;
	background: url(../img/sprites.png) no-repeat left top;
	background-position: -284px 0;  margin-right: 10px; 
}
.rnd_inner_a{
	width: 14px; height: 14px; display: inline-block;
	background: url(../img/sprites.png) no-repeat left top;
	background-position: -299px 0;  margin-right: 10px; margin-top: 4px;
}
.right_nav h3{ 
	display:blocl; margin: 20px 5px 20px 5px;}
	
#fname_err, #lname_err, #phone_err, #email_err{color:#f07057; font-size:15px; padding:0 10px 0 0; font-style:italic;}

/*.clickr{font-family: Myriad Pro;}*/

/********************************Form Common***********************************/

input{
	margin-bottom: 30px; margin-right: 10px;
	height: 25px;
	padding:0 5px; 
}

select{
	margin-bottom: 30px;
	height: 30px;
}

textarea{
	width: 400px; font-family:Arial, Helvetica, sans-serif; font-size: 14px; padding:5px;
	margin-bottom: 30px; 
	 
}

label{
	display: block;
	margin-bottom: 10px;
	text-transform: uppercase;
}

input, select{
	width: 198px;
}


.w100{
	width: 73px; 
}

.w400{
	width: 400px;
}

.h200{
	height: 200px;
}

.form_sections{ margin-left: 20px; padding-bottom: 50px; }
.clickr, .clickr_final{
	padding: 8px 30px 10px 20px; display: inline-block;
	cursor: pointer;
	background: #e78130 url(../img/arrow_btn.png) no-repeat right center;	border: solid 1px #d77426;	color: #fff;	
	font-family:inherit;
}
.clickb{
	padding: 8px 20px 10px 28px; display: inline-block;
	cursor: pointer;
	background: url("../img/arrow_btn1.png") no-repeat scroll 8px 10px #e78130;	border: solid 1px #d77426;	color: #fff;	
	font-family:inherit;
}

.clickr_add {
	padding: 8px 20px 10px 30px; display: inline-block;
	cursor: pointer;  
	background: #e78130 url(../img/plus_btn.png) no-repeat left center;	border: solid 1px #d77426;	color: #fff;	
}

.clickr_final{
	position: absolute;	display: block;
	bottom: 50px; right:58px;
	background: #e78130 ;
}
.clickr_preview {
display: block;
position: relative;
float: right;
margin: -86px 225px 0 0;
padding: 9px 20px;
background-color: #e78130;
color: #fff;
cursor: pointer;
border: solid 1px #d77426;
}
.clickr_preview:hover{
	background-color: #dc6023;
	border: solid 1px #d77426;
}
.clickr:hover,.clickb:hover, .clickr_add:hover, .formRemoveBtn:hover, .clickr_final:hover, .previewTemp:hover{
	background-color: #dc6023;
	border: solid 1px #d77426;
}




.formRemoveBtn{
	width: 29px; height: 29px; display: block;
	background:#e78130 url(../img/icon_delete.png) no-repeat center center;	border: solid 1px #c5533d;	
	text-indent: -999em; cursor: pointer;
	position: absolute; right: 10px; top: 10px;
}

.cmn_repeater{
	background: #ffffff;
	border: solid 1px #e1e1e1;
	float: left;
	padding: 10px;
	margin:5px 5px 5px 0;
	position: relative;
	-webkit-box-shadow: 0 3px 3px -3px #828282;
	   -moz-box-shadow: 0 3px 3px -3px #828282;
	        box-shadow: 0 3px 3px -3px #828282;
}
.cmn_repeater .cmpny_txt{width: 263px;}
.cmn_repeater label{
	display: inline-block;
	width: 60px;
}
.cmp_desgn{
	width: 262px !important; 
}


.repeater_default{
	padding-bottom: 5px !important;
}




input[type="radio"]{
	width:25px;
	height:25px;
}
input [type="checkbox"]{
	width:30px;
	height:30px;
}


/*********************************** tool box slider *******************************************/

.mytb_added div .sliding{width: 300px;
position: absolute;
margin: 19px 0 0 40px;}

.mytb_added div .slidingText{position:absolute; font-size:13px; margin:0 0 0 40px;} 


.ui-slider .ui-slider-handle{

width: 12px!important;
height: 12px!important;

margin: -1px 0 0 -10px!important;}

.ui-slider-horizontal {
height: 2px!important;
}
.ui-slider-horizontal { background: #da5e46 !important;}
.ui-slider-handle { border-color: #da5e46 !important; }

/********************************Form overrides***********************************/

.awards_or{
	border-top: solid 1px #929292;
}

.awards_or h3, .awards_or p{
	margin: 10px 0 0 0;
}


/******************************** CHOOSE RESUME STYLE ***********************************/
.t_list{
		width: 80%; 
		margin: 50px auto;
}

.t_list_t{
	display: inline-block;
	overflow: hidden;
	width: 220px; height: 289px;  position: relative;
	cursor: pointer;	background: #fff;
	border-left:2px solid #e1e1e1;
	border-right:2px solid #e1e1e1;
	border-top: 2px solid #e1e1e1;
	transition : border .2s ease-out; 
 	-webkit-transition : border .2s ease-in-out; 
	-moz-transition : border .2s ease-in-out;
	-o-transition : border .2s ease-in-out;   
}

.change_arrow_lft{background:transparent url(../img/sprites.png) -298px -648px no-repeat; display:block; padding:59px 15px 22px 37px; width:13px;  float:left; margin: 120px 0px 0 29px; visibility:hidden;}

.change_arrow_rit{background:transparent url(../img/sprites.png) -360px -648px no-repeat; display:block; padding:59px 15px 22px 50px; width:13px;  float:right; margin: 120px 8px 0 0px; visibility:hidden;}

.t_list_bg{
	width: 220px; height: 297px; float: left;
	margin: 20px 0 20px 20px;	
	background:transparent url(../img/shadow_strip_1.png) no-repeat center bottom;
}

.t_list_s{
	width: 100%;	min-height: 40px;	position: absolute;
	bottom: 9px; left: 0px;  background-color: #266a86;
	color: #fff; border-top: solid 1px  #1c5870;
	margin-bottom: -52px;	display: block;
	 -webkit-transition:margin-bottom .2s ease-in-out;
 -moz-transition:margin-bottom .2s ease-in-out;
 -o-transition:margin-bottom .2s ease-in-out;
}



.t_list_s p{
	margin:10px;
	height:17px;
	float: left;
}
.t_select, .load_more{
	display:block; color: #fff; text-decoration:none;	text-align: center;
	border:solid 1px #d77426;  background:#e78130;	
}

.t_select{
width: 140px;
height: 26px;
margin: 0 0 15px 10px;
line-height: 25px;
float: left;
}

.load_more{
	width: 400px; 	height: 40px;	margin: 0 auto; 	
	border-radius: 20px;line-height: 40px; 	
 }

 .load_more:hover, .t_select:hover{
	background-color: #f2722c; cursor:pointer;
 }

}
.why_cnt p{margin:0 0 15px 0!important; line-height: 25px!important;}
.why_pg_cnt{padding:0 30px 10px 0;}
/*************************************** Suggestion box *********************/
.suggestion_box, .mys_right{
	width:300px; height:559px;  display: block; overflow-y: scroll;
	float:left; 
	padding-left: 10px;
	margin-left: 10px;
	/*border-left: solid 1px #e1e1e1; */

}

.suggestion_box span, .mys_right div{
	width: auto; display: block;
	padding: 8px; float: left;
	margin: 4px; 
	background: #3dbfd9; color: #fff;
	border: solid 1px #37b7d0;
	font-size:13px;
}

.mys_right div{
	position:relative;
	padding-right: 40px;
}

.mys_right span{		
	width: 34px; height:31px; display: block;
	position: absolute;	cursor: pointer; 
	right: -1px; top: -1px;
	background-color: #f07057;
	line-height: 28px; text-align: center;
	font-size: 24px; 
	
}
.content233 h3{ margin:0 0 15px 23px; font-size:18px; text-align:center;}
.suggestion_box h3{
	margin-bottom: 10px;
}


.textarea_big{
	float: left;margin-bottom: 34px;
}



.selectTemplate{
position: fixed;
top: 30%;
height: 382px;
width: 83%;
padding-top: 20px;
padding-bottom: 20px;
background-color: #25b695;
z-index: 9999;
}

.selectTemplate h3{
	color: #fff;
	margin-left: 20px; width:100%;
}

.selectTemplate .t_list_t{border:none;}


.mys_left{
	min-height: 200px;
	float: left;
}

.mys_left input, .mytb_added input, .mytb_added select{
	margin-bottom: 15px !important;
}

.mys_left .formRemoveBtn{
	top: 0;
	right: 42px;
}

.mytb_added, .mypr_added, .myed_added, .myaw_added, .more_Added{
	position: relative;
}

.mytb_added .formRemoveBtn{
	top: 0px; 
	left:219px;
}

.mypr_added .formRemoveBtn, .myed_added .formRemoveBtn, .myaw_added .formRemoveBtn, .more_Added .formRemoveBtn{
	top: 0px; 
	left: 443px;
}



.mys_added{
	position: relative;
}
.mys_right{

	width: 350px;
}

.other_details{
	margin-bottom: 100px;
	border-top: solid 1px #828282;
	padding-top: 20px; 
	padding-left: 20px;
}

.other_details h3{
	padding-bottom: 20px;
}

#selectTemplateclose{
background: url("../img/icon_close.png") no-repeat scroll center center #e78130;
border: 1px solid #C5533D;
cursor: pointer;
display: block;
height: 36px;
margin: -29px 23px 0 0;
text-indent: -999em;
width: 36px;
position: absolute;
right: 0;
top: 53px;
	
}

.examples{
	margin-top: -20px;
	margin-bottom: 20px;
}

#moreabout{
	margin-bottom: 0px !important; padding-bottom:0px;
}


.previewTemp{
	width: 30px; height:26px; display: block; float: right;
	background:#e78130 url(../img/icon_zoom.png) no-repeat center center;	border: solid 1px #d77426;	
	text-indent: -999em; cursor: pointer; margin: 5px 5px 0 0;
}

.fnme{display: block;
float: left;
position: absolute;
margin: -23px 0 0 0;}
.lnme{display: block;
float: left;position: absolute;
margin: -23px 0 0 226px;}

/* selected template */
.selected_temp
{
    border: 2px solid #ff7f27!important;
}
/*.emailtooltip{margin:-15px 0 0 0!important;}*/
.tooltip_qs_img{}
.success_msg{color:green; margin:0 0 10px 0;}
.error_msg{color:red;}
/**************contact*******************/

.web_icon{background:url(../img/sprites.png) 0px -1021px no-repeat; padding:6px 0px 12px 32px; display:inline-block;}
.lin_icon{background:url(../img/sprites.png) 0px -1171px no-repeat; padding:6px 0px 12px 32px; display:inline-block;}
.skype_icon{background:url(../img/sprites.png) 0px -1060px no-repeat; padding:6px 0px 12px 32px; display:inline-block;}
.tw_icon{background:url(../img/sprites.png) 0px -1134px no-repeat; padding:6px 0px 12px 32px; display:inline-block;}
.fb_icon{background:url(../img/sprites.png) 0px -1097px no-repeat; padding:6px 0px 12px 32px; display:inline-block;}

.phone_icon{background:url(../img/sprites.png) 0px -1209px no-repeat; padding:6px 0px 12px 32px; display:inline-block;}
.mail_icon{background:url(../img/sprites.png) 0px -1245px no-repeat; padding:6px 0px 12px 32px; display:inline-block;}


.selectTemplate_bg{
	margin-top: -212px;
	width: 82.6%;
	height: 140%;
	position: absolute;
	background-color: #232323;
	opacity: .8;	
	z-index: 9999;
}


/*.t_list_t:hover .t_list_s{
	margin-bottom: -9px;	
}*/
.t_list_t:hover{
	border: solid 2px #ff7f27;	
}

.t_list_t:hover .t_list_s{
	margin-bottom: -9px;	
}

.t_list_selected{
	border: solid 5px #ff7f27;
}
.red{color:red; position: relative;
margin: 0px 0 0 -2px;}