

/*-----------------------------Carousel-------------------------------------*/

.slide_top_1, .slide_top_2{	
	width:50%; height:100px; float: left;
	background: #525252; color: #fff;	text-align: center;
}
.slide_top_1 {	 
	background: #f07057;
}
.slide_top_1 h3{
	margin-left: 140px;	
	line-height: 100px; text-align: left; text-transform: uppercase; 	font-size: 1.4em;
}
.slide_top_1 span{	
	width:109px; height:102px; display:block; position: absolute; 
	margin-top: -9px; margin-left: 20px;	font-size: 3em; line-height: 100px;
	background:transparent url(../img/sprites.png) no-repeat left top; background-position: -301px -344px; }
.slide_top_2 a{
	width: 80%; height: 50%; display: block; 
	margin: 0 auto; margin-top: 17px;	padding-top: 16px;	
	border: solid 1px #44494a; -webkit-border-radius: 4px; 	-moz-border-radius: 4px;	border-radius: 4px;
  	background-color: #f07057;	color: #ffffff; text-decoration: none; font-size: 1.6em;}

.slide_bottom_1, .slide_bottom_2{
	width: 50%; height: 340px;	float: left;  
	color: #fff;
}
.slide_bottom_1{background: #3dbfd9;}
.slide_bottom_2{background: #26b796;}
.slide_bottom_2 p{
	padding: 20px;  line-height: 24px;	font-size: 1.2em;
}	

.slider_view{
	width:100%; height:450px;	position:relative;	overflow:hidden;
	padding-top:10px;
}
.zxcv{
	width: 100%; height: 100%;
}
.slider_nav{ 
	position: absolute; 
	bottom:5px; right:20px;
}
.touchslider-nav-item, .touchslider-nav-item-current{
	width: 43px; height: 36px; display: block; 
	float: left; 
	color: #fff;	line-height: 36px;  text-align: center;
	background: transparent url(../img/sprites.png) no-repeat left top;	cursor: pointer;
}

.touchslider{position: relative; }
.touchslider-nav-item{	background-position: -191px 0;}
.touchslider-nav-item-current{	background-position: -235px 0;}

.slider_img{width:486px; height:274px; margin: 0 auto; display: block; margin-top: 35px;}

/*-----------------------------EZCV Services-------------------------------------*/
.services{
	background: #f8f8f8 url(../img/tex2.png) left top;
	padding:50px 0 50px 0;		
}
.services h2, .whyezcv h2, .bt h2{
	text-transform: uppercase;
	margin:0 0 40px 20px;
}
.services ul{
	display: inline-block;
}

.services ul li{
	width: 40%; height: 160px;	display: block;
	margin-left: 50px;	padding-top: 10px;	float: left;
	background:transparent; border-bottom: solid 1px #e1e1e1;
}
.services ul li:nth-child(7){border:none;}
.services ul li:nth-child(8){border:none;}
.services ul li span{
	width: 150px;	height: 150px;	display: block;	
	float: left;
}
.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8{
	background: transparent url(../img/sprites.png) no-repeat left top;
}
.s1{background-position: 0 -45px;}
.s2{background-position: -150px -45px;}
.s3{background-position: -300px -45px;}
.s4{background-position: -0px -195px;}
.s5{background-position: -150px -195px;}
.s6{background-position: -300px -195px;}
.s7{background-position: -0px -345px;}
.s8{background-position: -150px -345px;}
.services ul li p{
	width:100%; height:150px; display: block;
	padding-top:22px;
	color:#525252;	line-height: 25px;	
}

/*-----------------------------Why EZCV -------------------------------------*/

.whyezcv{
	background: #fff;
	border-top: solid 1px #e1e1e1;
	border-bottom: solid 1px #e1e1e1;
	padding: 20px; line-height: 25px;
}
.whyezcv h2{
	margin-top: 40px;
}

.whyezcv p {
	margin-left: 20px;
}

.whyezcv_slider{
	border-bottom: solid 1px #e1e1e1;
	height: 175px; width: 88%; margin-left: 45px;
}

.whyezcv_slider span{
	width: 225px;	height: 173px;	display: block;	
	float: left; margin-right: 20px;
}

.bs1, .bs2, .bs3{background: transparent url(../img/sprites.png) no-repeat left top;}
.bs1{background-position: 0 -495px;}
.bs2{background-position: -225px -495px;}
.bs3{background-position: 0 -667px;}
.whyezcv_slider p{
	width:100%; height:173px; display:block; 
	padding: 10px 0 0 40px;
	color:#525252;	line-height: 25px;	
}

/*----------------------------- Blog and Testimonials -------------------------------------*/

.bt{
	padding:50px 0 50px 0; 
	background:#3dbfd9; color: #fff; 
}

.bt section{
	width: 45%;
	float:left;
}

.bt ul li{
	width: 70%;
	padding:0 0 20px 0; margin: 20px 20px 10px 70px;
	border-bottom: solid 1px #fff;	line-height: 24px;
}

/*----------------------------- Footer -------------------------------------*/

footer{
	padding: 20px;
	background: #525252; color: #fff; 	border-top: solid 1px #fff;	font-size: .8em;
}

footer p{
	float: right;
	margin-top:7px;
}

.dc_logo{
	width: 258px; height: 30px; display: block; float: right; margin-top: 0px;
	background: transparent url(../img/dc_logo.png) no-repeat left top;
}

/************************** Large desktop **************************/
@media (min-width: 1200px) { ... }
 
/************************** Portrait tablet to landscape and 1024 DESKTOP **************************/
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/************************** Landscape phone to portrait tablet **************************/
@media (max-width: 767px) { ... }
 
/************************** Landscape phones and down **************************/
@media (max-width: 480px) { ... }