.form_title{
	width: 100%; height: 60px; 
	background: #f07057;	border:solid 1px #ea6c53; color: #fff;
}
.form_title h3{
	line-height: 60px;	margin-left: 20px;	text-transform: uppercase;
}

.form_title a{
	width: 200px; height: 59px; display: block; float: left;
	line-height: 60px;	text-transform: uppercase; text-align: center;
	border: solid 1px #44494a; background-color: #f07057;	color: #ffffff; text-decoration: none; font-size: 1.2em; 
}


.left_form{
	width: 80%;	float: right;
	background-color: #f4f4f4;
	position: relative;
}
.left_form_title{
	width: 100%; padding-bottom: 20px;
	color: #323232; 
}
.left_form_title h3{ 
	line-height: 40px; margin:10px 0 0 20px; 	float: left;
	text-transform: uppercase;}
.left_form_title span{
	display: inline-block;	float: right;
	margin-right:40px; line-height: 40px;	cursor: pointer;	text-transform: uppercase;
	
}
.left_form_title p{ margin: 20px 20px 0 20px; line-height: 25px;}

/******************************** Right nav***********************************/

.right_nav{ 
	width: 19.8%;	height: 100%;	float: right;
	text-align: center;	
	background: #FFF;	border-left: solid 1px #E8E8E8;	
}

.rns{ 
	display: block; cursor:pointer; 
	padding-left: 20px; height: 40px;	text-align: left; line-height: 40px;
	font-size: .9em;	text-decoration: none; color: #232323;
	
}


.rns_b{
	font-family: segoeuib;
	color: #f07057;
	cursor:default !important;
}

.rns_inner{
	margin-left: 40px;
	padding-left: 30px !important;
	background: url(../img/sprites.png) no-repeat left center;
	background-position: 0 -809px;  
}

.rns_a{
	font-family: segoeuib;
	color: #f07057;
	cursor:default !important;
	background: url(../img/sprites.png) no-repeat left center !important;
	background-position: 0 -850px !important; 
}

.rnd{
	width: 26px; height: 26px; display: inline-block;
	background: url(../img/sprites.png) no-repeat left top;
	background-position: -326px 0; font-size: .8em; color: #fff;
	text-align: center; line-height: 26px; margin-right: 10px;
}
.rnd_a{
	width: 26px; height: 26px; display: inline-block;
	background: url(../img/sprites.png) no-repeat left top;
	background-position: -353px 0; font-size: .8em; color: #fff;
	text-align: center; line-height: 26px; margin-right: 10px;
	cursor:default !important;
}
.rnd_inner{
	width: 14px; height: 14px; display: inline-block;
	background: url(../img/sprites.png) no-repeat left top;
	background-position: -284px 0;  margin-right: 10px; 
}
.rnd_inner_a{
	width: 14px; height: 14px; display: inline-block;
	background: url(../img/sprites.png) no-repeat left top;
	background-position: -299px 0;  margin-right: 10px; margin-top: 4px;
}
.right_nav h3{ 
	display:blocl; margin: 20px 0 20px 0;}


/********************************Form Common***********************************/

input{
	margin-bottom: 30px;
	height: 25px;
}

select{
	margin-bottom: 30px;
	height: 30px;
}

textarea{
	width: 400px;
	margin-bottom: 30px; 
	
}

label{
	display: block;
	margin-bottom: 10px;
	text-transform: uppercase;
}

input, select{
	width: 198px;
}


.w100{
	width: 100px;
}

.w400{
	width: 400px;
}

.h200{
	height: 200px;
}

.form_sections{ margin-left: 20px; padding-bottom: 50px;}

.clickr, .clickr_final{
	padding: 8px 30px 10px 20px; display: inline-block;
	cursor: pointer;
	background: #f07057 url(../img/arrow_btn.png) no-repeat right center;	border: solid 1px #c5533d;	color: #fff;	
}

.clickr_add {
	padding: 8px 20px 10px 30px; display: inline-block;
	cursor: pointer;  
	background: #f07057 url(../img/plus_btn.png) no-repeat left center;	border: solid 1px #c5533d;	color: #fff;	
}

.clickr_final{
	position: absolute;	display: block;
	bottom: 50px; right: 160px;
	background: #f07057 ;
}
.clickr_preview {
display: block;
position: relative;
float: right;
margin: -86px 58px 0 0;
padding: 9px 20px;
background-color: #f07057;
color: #fff;
cursor: pointer;
border: solid 1px #c5533d;
}
.clickr_preview:hover{
	background-color: #da5e46;
	border: solid 1px #d05840;
}
.clickr:hover, .clickr_add:hover, .formRemoveBtn:hover, .clickr_final:hover{
	background-color: #da5e46;
	border: solid 1px #d05840;
}




.formRemoveBtn{
	width: 29px; height: 29px; display: block;
	background:#f07057 url(../img/icon_delete.png) no-repeat center center;	border: solid 1px #c5533d;	
	text-indent: -999em; cursor: pointer;
	position: absolute; right: 10px; top: 10px;
}

.cmn_repeater{
	background: #ffffff;
	border: solid 1px #e1e1e1;
	float: left;
	padding: 10px;
	margin: 5px;
	position: relative;
	-webkit-box-shadow: 0 3px 3px -3px #828282;
	   -moz-box-shadow: 0 3px 3px -3px #828282;
	        box-shadow: 0 3px 3px -3px #828282;
}

.cmn_repeater label{
	display: inline-block;
	width: 60px;
}
.cmp_desgn{
	width: 262px !important; 
}


.repeater_default{
	padding-bottom: 5px !important;
}




input[type="radio"]{
	width:25px;
	height:25px;
}
input [type="checkbox"]{
	width:30px;
	height:30px;
}


/*********************************** tool box slider *******************************************/

.mytb_added div .sliding{width: 300px;
position: absolute;
margin: 19px 0 0 40px;}

.mytb_added div .slidingText{position:absolute; font-size:13px; margin:0 0 0 40px;} 


.ui-slider .ui-slider-handle{

width: 12px!important;
height: 12px!important;

margin: -1px 0 0 -10px!important;}

.ui-slider-horizontal {
height: 2px!important;
}
.ui-slider-horizontal { background: #da5e46 !important;}
.ui-slider-handle { border-color: #da5e46 !important; }

/********************************Form overrides***********************************/

.awards_or{
	border-top: solid 1px #929292;
}

.awards_or h3, .awards_or p{
	margin: 10px 0 0 0;
}


/******************************** CHOOSE RESUME STYLE ***********************************/
.t_list{
		width: 80%; 
		margin: 50px auto;
}

.t_list_t{
	overflow: hidden;
	width: 220px; height: 289px;  position: relative;
	cursor: pointer;	background: #fff;
	border-left:1px solid #e1e1e1;
	border-right:1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;

}


.t_list_bg{
	width: 220px; height: 297px; float: left;
	margin: 20px 0 20px 20px;	
	background:transparent url(../img/shadow_strip_1.png) no-repeat center bottom;
}

.t_list_s{
	width: 100%;	min-height: 40px;	position: absolute;
	bottom: 9px; left: 0px;  background-color: #266a86;
	color: #fff; border-top: solid 1px  #1c5870;
	margin-bottom: -52px;	display: block;
	 -webkit-transition:margin-bottom .2s ease-in-out;
}

.t_list_t:hover .t_list_s{
	margin-bottom: -9px;	
}

.t_list_s p{
	margin:10px;
	height: 35px;
}
.t_select, .load_more{
	display:block; color: #fff; text-decoration:none;	text-align: center;
	border:solid 1px #de6047;  background:#f07057;	
}

.t_select{
	width:140px;	height:30px;  margin:0 0 10px 40px; 
	line-height:30px;
}

.load_more{
	width: 400px; 	height: 40px;	margin: 0 auto; 	
	border-radius: 20px;line-height: 40px; 	
 }

 .load_more:hover, .t_select:hover{
	background-color: #e8674e; cursor:pointer;
 }


 .t_select{
	visibility: visible;
}

.t_list_t:hover .t_Select{
	visibility: visible;
}

/*************************************** Suggestion box *********************/
.suggestion_box, .mys_right{
	width:300px; height: auto;  display: block;
	float:left; 
	padding-left: 10px;
	margin-left: 10px;
	border-left: solid 1px #e1e1e1;

}

.suggestion_box span, .mys_right div{
	width: auto; display: block;
	padding: 8px; float: left;
	margin: 4px; 
	background: #3dbfd9; color: #fff;
	border: solid 1px #37b7d0;
}

.mys_right div{
	position:relative;
	padding-right: 40px;
}

.mys_right span{		
	width: 34px; height:34px; display: block;
	position: absolute;	cursor: pointer; 
	right: -1px; top: -1px;
	background-color: #f07057;
	line-height: 30px; text-align: center;
	font-size: 24px; 
	
}

.suggestion_box h3{
	margin-bottom: 10px;
}


.textarea_big{
	float: left;
}



.selectTemplate{
	position: fixed;
	top: 30%;
	width: 100%; 	padding-top: 20px; padding-bottom: 20px;
	background-color: #25b695;
}

.selectTemplate h3{
	color: #fff;
	margin-left: 20px;
}

.selectTemplate .t_list_t{border:none;}


.mys_left{
	min-height: 200px;
	float: left;
}

.mys_left input, .mytb_added input, .mytb_added select{
	margin-bottom: 15px !important;
}

.mys_left .formRemoveBtn{
	top: 0;
	right: 42px;
}

.mytb_added, .mypr_added, .myed_added, .myaw_added, .more_Added{
	position: relative;
}

.mytb_added .formRemoveBtn{
	top: 0px; 
	left: 580px;
}

.mypr_added .formRemoveBtn, .myed_added .formRemoveBtn, .myaw_added .formRemoveBtn, .more_Added .formRemoveBtn{
	top: 0px; 
	left: 408px;
}



.mys_added{
	position: relative;
}
.mys_right{
	margin-left: 50px;
	width: 350px;
}

.other_details{
	margin-bottom: 100px;
	border-top: solid 1px #828282;
	padding-top: 20px; 
	padding-left: 20px;
}

.other_details h3{
	padding-bottom: 20px;
}

#selectTemplateclose{
	background: url("../img/icon_close.png") no-repeat scroll center center #F07057;
    border: 1px solid #C5533D;
    cursor: pointer;
    display: block;
    height: 36px;
    position: absolute;
    right: 362px;
    text-indent: -999em;
    width: 36px;
	
}

.examples{
	margin-top: -20px;
	margin-bottom: 20px;
}

#moreabout{
	margin-bottom: 0px !important;
}